---
import type { ExperienceItem } from '../data/about';

interface Props {
  items: ExperienceItem[];
}

const { items } = Astro.props;
---

<div class="experience-list">
  {
    items.map((item) => (
      <div class="experience-item">
        <div class="period">{item.period}</div>
        <div class="details">
          <h4 class="company">
            <a href={item.companyLink} target="_blank">
              {item.company}
            </a>
          </h4>
          <p class="role">{item.role}</p>
          {item.description && <p class="description">{item.description}</p>}
        </div>
      </div>
    ))
  }
</div>
